{% extends 'layout2.html' %}

{% block title %}{{request.user|truncatechars:10}}'s Following{% endblock %}

{%block name%}Followings:{%endblock%}


{%block infos%}
<div class="row row-cols-1 row-cols-md-4">

    {% if result %}
    {% for user in result %}
    <div class="col mb-4">

        <div class="card">
            <img src="https://i.stack.imgur.com/vhoa0.jpg" class="card-img-top" alt="..." height="100px" width="50px">
            <div class="card-body text-center">
                <img class="avatar rounded-circle" src="{{user.following.name.profile_pic.url}}" alt="userImage">
                <h5 class="card-title">{{user.following}}</h5>
                <p class="card-text">{{user.following.first_name}} {{user.following.last_name}}</p>
            </div>
            <small class="text-muted">Date of Join: <strong>{{user.following.date_joined.date}}</strong></small>

            <div class="card-footer d-flex justify-content-center">

                <form class="info_class" action="unfollow" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="unfollowuser" name="unfollowuser" value="{{user}}">

                    <button type="submit" class="btn btn-outline-danger infobtn">Unfollow</button>
                    <a class="btn btn-outline-info" href="userprofile">More Info</a>
                </form>


            </div>
        </div>
    </div>
    {% endfor %}



</div>
{%else%}
<div class="container fluid">
    <div class="bg-dark p-3 my-3 text-white-50 rounded shadow-sm">
        <h3>There are no users here.start following to see result.</h3>
    </div>
</div>
{% endif %}




{%endblock%}