{% extends 'layout.html' %}

{% block title %}Voters Paradise{% endblock %}

{%block style%}
<style>
  @media (min-width: 768px) .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }

  @media (min-width: 576px) .container,
  .container-sm {
    max-width: 540px;
  }

  @media (min-width: 768px) .container {
    max-width: 720px;
  }

  @media (min-width: 576px) .container {
    max-width: 540px;
  }


  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }



  .button {
    z-index: 2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    border-radius: 50%;
    position: sticky;
  }

  #plusicn {
    margin-bottom: 9px;
  }

  .ask {
    width: 5%;
    margin-right: auto;
    margin-left: auto;
  }


  }

  #starts {
    margin-top: -2px;
  }

  #space {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .profilepic {
    margin: 0 auto 0 auto;
  }
  #auther
 {
  font-size: small;
  }
</style>
{%endblock%}


{%block loginmodal%}
<div class="modal fade" id="Loginmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCenterTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'handlelogin'%}" autocomplete="on">
          {% csrf_token %}
          <div class="form-group">
            <label for="signupemaillab">Email address</label>
            <input type="email" required class="form-control" name="lemail" aria-describedby="emailHelp"
              placeholder="Enter E-mail">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="passwordinpu">Password</label>
            <input type="password" required class="form-control" name="lpassword" placeholder="Enter Password">
          </div>
          <button type="submit" class="btn btn-primary float-right">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
{%block signupmodal%}
<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCenterTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="{% url 'signup'%}" autocomplete="on">
          {% csrf_token %}

          <div class="form-group">

            <label for="signupemaillab">Email address</label>
            <input type="email" required class="form-control" name="semail" aria-describedby="emailHelp"
              placeholder="Enter E-mail">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="usernameinput">User Name</label>
            <input type="text" required class="form-control" name="susername" placeholder="Enter Username">
          </div>

          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" required class="form-control" name="sfirstname" placeholder="Enter First name">
          </div>

          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="slastname" placeholder="Enter Last name">
          </div>

          <div class="form-group">
            <label for="passwordinpu">Password</label>
            <input type="password" required class="form-control" name="spassword" placeholder="Enter Password">
          </div>

          <div class="form-group">
            <label for="passwordinput2">Confirm Password</label>
            <input type="password" required class="form-control" name="spassword2" placeholder="Re-enter Password">
          </div>
          <button type="submit" class="btn btn-primary float-right">Submit</button>

        </form>
      </div>

    </div>
  </div>
</div>
{%endblock%}

{%block question%}
<div class="container">
  <div class="d-flex justify-content-center" id="space">
    <div class="bg-dark p-3 my-3 text-white-50 rounded shadow-sm ">
      <h3>Questions & Polls</h3>
    </div>
  </div>
  <div class="row" id="starts">
    <div class="col">
    {%for res in result%}
    <div class="float-right">
        <p id="auther"><span class="badge badge-secondary">{{res.auther}} {{res.pub_date}}</span></p>
    </div>
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="question">
        
          <strong>{{forloop.counter}}. {{res.question_text}}</strong>
        </div>
        <div class="answer">
          <br>
      <form action="submitans" method="POST">
      {% csrf_token %}
      {% if res.op1 %}
          <div class="radio">
            <label>A. <input type="radio" name="{{res.op1}}"> {{res.op1}}</label>
          </div>
      {% endif %}
      {% if res.op2 %}
          <div class="radio">
            <label>B. <input type="radio" name="{{res.op1}}"> {{res.op2}}</label>
          </div>
          {% endif %}
          {% if res.op3 %}
          <div class="radio">
            <label>C. <input type="radio" name="{{res.op1}}"> {{res.op3}}</label>
          </div>
          {% endif %}
          {% if res.op4 %}
          <div class="radio">
            <label>D. <input type="radio" name="{{res.op1}}" onclick="makeans()"> {{res.op4}}</label>
          </div>
          {% endif %}
          
      </div>
        <input type="hidden" value="{{res.question_text}}" name="que">
        <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-info">
      </div>
      </form>
      </div>
    {% endfor %}


      <div class="ask fixed-bottom mb-3">
        <div class="d-flex justify-content-center">
          <a class="button bg-dark" href="/askquestion"><svg class="bi bi-plus" id="plusicn" width="1.6em" height="1em"
              viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    {%endblock%}

    {%block welcome%}
    <div class="container my-3">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 display-4 font-italic">
          Welcome To VotersParadise
        </div>
        <p class="lead my-3">
          Create Questions and polls.. ask questions To lead the imagination
          Create polls of your own thoughts and lead the way
        </p>
      </div>
    </div>
    {%endblock%}
    {%block scripts%}
    
    {%endblock%}