{% extends 'layout.html' %}


{%block style%}
<style>
    .avatar {
        border: 0.3rem solid rgba(#fff, 0.3);
        margin-top: -6rem;
        margin-bottom: 1rem;
        max-width: 9rem;
    }



    @media (max-width: 600px) {

        .card-img-top {
            height: 0px;
            width: 0px;
        }

        .avatar {
            float: left;
            height: 60px;
            width: 60px;
            margin-top: 0;
            margin-bottom: 0;
        }


    }

    .profilepic {
        margin: 0px auto 0px auto;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
{%endblock%}


{%block question%}
<div class="container">
    <div class="row" id="head">
        <div class="col">
            <div class="bg-dark p-3 my-3 text-white-50 rounded shadow-sm">
                <h3>{%block name%}{%endblock%}</h3>
            </div>
        </div>
    </div>

    {% block infos%}

    {% endblock %}




</div>


{%endblock%}