{% extends 'layout.html' %}

{%block profile%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col col-sm-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center">
                            <img class="avatar rounded-circle" width="150px" height="150px"
                                src="{{result.name.profile_pic.url}}" alt="{{result.username}}">
                        </div>
                    </div>
                </div>
                <div class="col col-sm-8">
                    <div class="d-flex justify-content-left">
                        <div class="d-flex flex-column">
                            <h1 class="display-5">{{result.username}}</h1>
                            <p>{{result.first_name}} {{result.last_name}}</p>
                            <p>{{result.email}}</p>
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column mr-4">

                                    <div class="d-flex justify-content-center">
                                        <strong>23</strong>
                                    </div>
                                    <p>Questions</p>
                                </div>
                                <div class="d-flex flex-column mr-4">
                                    <div class="d-flex justify-content-center">

                                        <strong>{{userfollowing}}</strong>
                                    </div>

                                    <p>Following</p>
                                </div>
                                <div class="d-flex flex-column mr-4">
                                    <div class="d-flex justify-content-center">
                                        <strong>{{userfollowers}}</strong>
                                    </div>
                                    <p>Followers</p>
                                </div>

                            </div>
                            <!-- {%if text == 'Unfollow'%}
                            <form action="unfollow" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="unfollowuser" name="unfollowuser" value="{{result.username}}">
                                <button class="btn btn-primary" type="submit">{{text}}</button>
                            </form>
                            {%else%}
                            <form action="follow" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="followname" name="followname" value="{{result.username}}">
                                <button class="btn btn-primary" type="submit">{{text}}</button>
                            </form>
                            {%endif%} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

        </div>



    </div>

</main>



{%endblock%}