{% extends 'layout.html' %}

{%block profile%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col col-sm-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center">
                            <img class="avatar rounded-circle" width="150px" height="150px"
                                src="{{result.name.profile_pic.url}}" alt="{{result.username}}">
                        </div>
                    </div>
                </div>
                <div class="col col-sm-8">
                    <div class="d-flex justify-content-left">
                        <div class="d-flex flex-column">
                            <h1 class="display-5">{{result.username}}</h1>
                            <p>{{result.first_name}} {{result.last_name}}</p>
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column mr-4">

                                    <div class="d-flex justify-content-center">
                                        <strong>23</strong>
                                    </div>
                                    <p>Questions</p>
                                </div>
                                <div class="d-flex flex-column mr-4">
                                    <div class="d-flex justify-content-center">

                                        <strong>{{userfollowing}}</strong>
                                    </div>

                                    <p>Following</p>
                                </div>
                                <div class="d-flex flex-column mr-4">
                                    <div class="d-flex justify-content-center">
                                        <strong>{{userfollowers}}</strong>
                                    </div>
                                    <p>Followers</p>
                                </div>

                            </div>
                            {%if text == 'Unfollow'%}
                            <form action="unfollow" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="unfollowuser" name="unfollowuser" value="{{result.username}}">
                                <button class="btn btn-primary" type="submit">{{text}}</button>
                            </form>
                            {%else%}
                            <form action="follow" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="followname" name="followname" value="{{result.username}}">
                                <button class="btn btn-primary" type="submit">{{text}}</button>
                            </form>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {%if question%}
                {%for res in question%}

                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="question">
                        <strong>{{forloop.counter}}. {{res.question_text}}</strong>
                    </div>
                    <div class="answer">
                        <br>
                        {% if res.op1 %}
                        <div class="radio">
                            <label>A. <input type="radio" name="ans"> {{res.op1}}</label>
                        </div>
                        {% endif %}
                        {% if res.op2 %}
                        <div class="radio">
                            <label>B. <input type="radio" name="ans"> {{res.op2}}</label>
                        </div>
                        {% endif %}
                        {% if res.op3 %}
                        <div class="radio">
                            <label>C. <input type="radio" name="ans"> {{res.op3}}</label>
                        </div>
                        {% endif %}
                        {%if res.op4 %}
                        <div class="radio">
                            <label>D. <input type="radio" name="ans"> {{res.op4}}</label>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col">

                                {% if res.count1 %}
                                <h3><span class="badge badge-secondary" id="{{forloop.counter}}{{res.count1}}">A.<p id="count1"
                                            style="display: inline;">{{res.count1}}</p></span></h3>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if res.count2 %}
                                <h3><span class="badge badge-secondary" id="{{forloop.counter}}{{res.count2}}">B.<p id="count2"
                                            style="display: inline;">{{res.count2}}</p></span></h3>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if res.count3 %}
                                <h3><span class="badge badge-secondary" id="{{forloop.counter}}{{res.count3}}">C.<p id="count3"
                                            style="display: inline;">{{res.count3}}</p></span></h3>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if res.count4 %}
                                <h3><span class="badge badge-secondary" id="{{forloop.counter}}{{res.count4}}">D.<p id="count4"
                                            style="display: inline;">{{res.count4}}</p></span></h3>
                                {% endif %}
                            </div>



                        </div>
                    </div>

                </div>

                    {% endfor %}
                    {% else %}
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <label>no questions yet.</label>
                    </div>
                    {%endif%}


</main>



{%endblock%}



{%block scripts%}
<script>
    function makevisible() {
        document.getElementById('button').style.visibility = "visible";
    }

    {%if question %}
    {%for res in question %}
    // var count1 = document.getElementById("count1").innerText;
    // var count2 = document.getElementById("count2").innerText;
    // var count3 = document.getElementById("count3").innerText;
    // var count4 = document.getElementById("count4").innerText;

    {% if res.count1 %}
    var count1 = {{ res.count1 }};
    {% else %}
    var count = Number(0);
    {% endif %}

    {% if res.count2 %}
    var count2 = {{ res.count2 }};
    {% else %}
    var count2 = Number(0);
    {% endif %}

    {% if res.count3 %}
    var count3 = {{ res.count3 }};
    {% else %}
    var count3 = Number(0);
    {% endif %}

    {% if res.count4 %}
    var count4 = {{ res.count4 }};
    {% else %}
    var count4 = Number(0);
    {% endif %}


    if (count1 === null) {
        count1 = Number(0);
    } else {
        count1 = parseInt(count1);
    }

    if (count2 === null) {
        count2 = Number(0);
    } else {
        count2 = parseInt(count2);
    }

    if (count3 === null) {
        count3 = Number(0);
    } else {
        count3 = parseInt(count3);
    }

    if (count4 === null) {
        count4 = Number(0);
    } else {
        count4 = parseInt(count4);
    }
    console.log(count1, count2, count3, count4);
    var arr = [count1, count2, count3, count4];
    var i, max = 0, count = 0;
    for (i = 0; i < 4; i++) {
        if (arr[i] > max) {
            max = arr[i];
            count = i + 1;
        }
    }
    console.log(max,count)
    if (count == 1) {
        document.getElementById("{{forloop.counter}}{{res.count1}}").className = "badge badge-warning";
    } if (count == 2) {
        document.getElementById("{{forloop.counter}}{{res.count2}}").className = "badge badge-warning";
    } if (count == 3) {
        document.getElementById("{{forloop.counter}}{{res.count3}}").className = "badge badge-warning";
    } if (count == 4) {
        document.getElementById("{{forloop.counter}}{{res.count4}}").className = "badge badge-warning";
    }

    {% endfor %}
    {% endif %}
</script>


{% endblock %}