{% extends 'layout.html' %}

{%block profile%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col col-sm-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center mr-3">
                            <img class="avatar rounded-circle" width="150px" height="150px"
                                src="{{result.name.profile_pic.url}}" alt="{{result.username}}">

                        </div>
                        <div class="d-flex justify-content-center mt-3 ml-5">
                        <form action="updateImage" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="hidden" id="user" name="user" value="{{result.username}}">
                                <input type="file" id="profilepic" name="profilepic" onclick="makevisible()" required/>
                            <button type="submit" style="visibility: hidden;" id="button" class="btn btn-primary mt-2">Update</button>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="col col-sm-8">
                    <div class="d-flex justify-content-left">
                        <div class="d-flex flex-column">
                            <h1 class="display-5">{{result.username}}</h1>
                            <p>{{result.first_name}} {{result.last_name}}</p>
                            <p>{{result.email}}</p>
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column mr-4">

                                    <div class="d-flex justify-content-center">
                                        <strong>{{question_count}}</strong>
                                    </div>
                                    <p>Questions</p>
                                </div>
                                <div class="d-flex flex-column mr-4">
                                    <div class="d-flex justify-content-center">

                                        <strong>{{userfollowing}}</strong>
                                    </div>

                                    <p><a href="following" style="text-decoration: none;"><b>Following</b></a> </p>
                                </div>
                                <div class="d-flex flex-column mr-4">
                                    <div class="d-flex justify-content-center">
                                        <strong>{{userfollowers}}</strong>
                                    </div>
                                    <p><a href="followers" style="text-decoration: none;"><b>Followers</b></a> </p>
                                </div>

                            </div>
                            <form method="POST" action="update_info">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-info">Update info</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {%if question%}
                {%for res in question%}
                
                  <div class="shadow p-3 mb-5 bg-white rounded">
                        <div class="question">
                        <strong>{{forloop.counter}}. {{res.question_text}}</strong>
                        </div>
                        <div class="answer">
                        <br>
                        {% if res.op1 %}
                        <div class="radio">
                            <label>A. <input type="radio" name="ans"> {{res.op1}}</label>
                        </div>
                        {% endif %}
                        {% if res.op2 %}
                        <div class="radio">
                            <label>B. <input type="radio" name="ans"> {{res.op2}}</label>
                        </div>
                        {% endif %}
                        {% if re.op3 %}
                        <div class="radio">
                            <label>C. <input type="radio" name="ans"> {{res.op3}}</label>
                        </div>
                        {% endif %}
                        {%if res.op4 %}
                        <div class="radio">
                            <label>D. <input type="radio" name="ans"> {{res.op4}}</label>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-end">
                            
                            <form method="POST" action="profile/delete_question">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <input type="hidden" value="{{res.question_text}}" id="question_text" name="question_text">
                            </form>
                        </div>
                    </div>
                    
                  </div>
                  {% endfor %}
                  {%endif%}
        </div>
    </div>

</main>



{%endblock%}



{%block scripts%}
<script>
    function makevisible(){
        document.getElementById('button').style.visibility = "visible";
    }
    
</script>

{%endblock%}