{% extends 'layout2.html' %}

{% block title %}Search Results{% endblock %}



{%block name%}Search Results:{%endblock%}

{%block infos%}
<div class="row row-cols-1 row-cols-md-4">
{% if result %}
{% for user in result %}

  <div class="col mb-4">

    <div class="card">
      <img src="https://i.stack.imgur.com/vhoa0.jpg" class="card-img-top" alt="..." height="100px" width="50px">
      <div class="card-body text-center">
        <img class="avatar rounded-circle" src="{{user.name.profile_pic.url}}" alt="userImage">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
      </div>
      <small class="text-muted">Date of Join: <strong>{{user.date_joined.date}}</strong></small>

      <div class="card-footer d-flex justify-content-center">

        <form class="info_class" action="userprofile" method="POST">
          <input type="hidden" value="{{user.username}}">

          <button type="button" class="btn btn-outline-info infobtn"> More Info</button>

        </form>


      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%else%}
<div class="container fluid">
  <div class="bg-dark p-3 my-3 mr-2 text-white-50 rounded shadow-sm">
    <h3>No result found.</h3>
  </div>
</div>



{% endif %}

{%endblock%}